In [2]:
import pandas as pd

In [20]:
data_csv = pd.read_csv('../datasets/Iris_data_sample.csv', index_col=0) # index_col=0 to use the first column as the index
data_csv.head() # show the first 5 rows of the dataset
# data_csv[['Species']] # show only the column 'Species'
# data_csv.iloc[:,0].head()
# data_csv.loc[:,['Species']] 
data_csv.describe() # show the statistics of the dataset

       SepalWidthCm  PetalWidthCm
count    149.000000    150.000000
mean       3.054362      1.198667
std        0.435034      0.763161
min        2.000000      0.100000
25%        2.800000      0.300000
50%        3.000000      1.300000
75%        3.300000      1.800000
max        4.400000      2.500000

In [22]:
cocoa_data = pd.read_csv('../datasets/flavors_of_cocoa.csv')
null_values = cocoa_data.isnull().sum() 
print(null_values)

Id                  0
Company             0
Bean Origin         0
Review Date         4
Cocoa Percent       0
Company Location    0
Rating              0
dtype: int64

In [29]:
cocoa_data.describe() #

                Id  Review Date  Cocoa Percent       Rating
count  1795.000000  1791.000000    1795.000000  1795.000000
mean    898.000000  2012.321608      71.698329     3.185933
std     518.316184     2.928835       6.323118     0.478062
min       1.000000  2006.000000      42.000000     1.000000
25%     449.500000  2010.000000      70.000000     2.875000
50%     898.000000  2013.000000      70.000000     3.250000
75%    1346.500000  2015.000000      75.000000     3.500000
max    1795.000000  2017.000000     100.000000     5.000000

In [28]:
cocoa_data['Cocoa Percent'] = cocoa_data['Cocoa Percent'].str.replace('%', '').astype(float)
cocoa_data.describe()

                Id  Review Date  Cocoa Percent       Rating
count  1795.000000  1791.000000    1795.000000  1795.000000
mean    898.000000  2012.321608      71.698329     3.185933
std     518.316184     2.928835       6.323118     0.478062
min       1.000000  2006.000000      42.000000     1.000000
25%     449.500000  2010.000000      70.000000     2.875000
50%     898.000000  2013.000000      70.000000     3.250000
75%    1346.500000  2015.000000      75.000000     3.500000
max    1795.000000  2017.000000     100.000000     5.000000

In [31]:
import numpy as np
B = [True, 2, 3.0, np.nan, "False"]
[type(i) for i in B]

[bool, int, float, float, str]

In [33]:
cocoa_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                1795 non-null   int64
 1   Company           1795 non-null   object
 2   Bean Origin       1795 non-null   object
 3   Review Date       1791 non-null   float64
 4   Cocoa Percent     1795 non-null   float64
 5   Company Location  1795 non-null   object
 6   Rating            1795 non-null   float64
dtypes: float64(3), int64(1), object(3)
memory usage: 98.3+ KB

In [35]:
arr = np.array([1, 2, 3, 4, 5])
print(arr[::2])

[1 3 5]